<div class="list-container">
    <h2>Available drones</h2>
    <div class="list-grid">

        {{#each drones}}
        <div>
            <p>name: {{this.name}}</p>
            <p>propellers: {{this.propellers}}</p>
            <p>speed: {{this.maxSpeed}}</p>
            <a href="/drones/{{this._id}}/edit">edit</a>
            <form method="POST" action="/drones/{{_id}}/delete">
                <button type="submit"> Delete</button>
        </div>
        </form>
        {{/each}}

    </div>
    <a href="drones/create">Add a new drone!</a>
</div>